* {
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: whitesmoke;
    font-family: 'Noto Sans JP', sans-serif;
}



.menu_button {
    transition: 0.25s;
    padding-top: 5vh;
    text-align:right;
    padding-bottom: 5vh;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px; 
    text-decoration: none;
    margin-top: 5vh;
    color: slateblue;
    text-decoration: none;
}

.menu_button:hover {
    background-color: rgb(200, 200, 200);
>>>>>>> a95830b84406314a6806ec03e3cee3f437b9b910
}

.top {
    padding: 20vh 10vh;
    text-align: center;
    background-image: url(rogo.JPG);
    background-size: cover;
} 

.alpha{
    background: linear-gradient(to right, rgba(132, 255, 214, 0.7),rgba(85, 140, 250, 0.5),rgba(200, 200, 200, 0.3));
}

.naiyo{
    padding-left: 10vh;
    padding-right: 10vh;
    background-image: url(伊豆背景.png);
    filter: contrast(125%) brightness(100%);
    background-size: cover;
}

p{
    background-color: gray;
}

.leftmenu{
    margin-top: 5vh;
    text-align: left;
    color: slateblue;
    text-decoration: none;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.menu,.leftmenu{
    display: flex;
    justify-content: center;
    background-color: white;
}
