* {
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: whitesmoke;
    font-family: 'Noto Sans JP', sans-serif;
}



.menu_button {
    color:black;
    transition: 0.25s;
    text-align:right;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
    font-size: 16px; 
    text-decoration: none;
    text-decoration: none;
}

.menu_button:hover {
    background-color: rgb(200, 200, 200);
}

.top {
    padding: 20vh 10vh;
    text-align: center;
    background-image: url(rogo.JPG);
    background-size: cover;
} 

.alpha{
    background: linear-gradient(to right, rgba(132, 255, 214, 0.7),rgba(85, 140, 250, 0.5),rgba(200, 200, 200, 0.3));
}

.naiyo{
    padding-left: 10vh;
    padding-right: 10vh;
    background-image: url(伊豆背景.png);
    filter: contrast(125%) brightness(100%);
    background-size: cover;
}

p{
    background-color: gray;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagetitle{
    color: rgb(106, 90, 205);
    text-decoration: none;
}

.menu,.leftmenu{
    display: flex;
    justify-content: center;
    background-color: white;
}
