#container_title {
    background-image: url(images/fuji_1.jpg);
}

#container1 {
    background-image: url(images/forest_1.jpg);
    height: 125vh;
}

.description {
    font-size: 18px;
    padding-top: 12px;
    padding-left: 16px;
}