:root {
    --text-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scrollbar-width: thin;
    color: var(--text-color);
    text-decoration: none;
}

/* scrollBar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.75);
}

/* header, footer */

header {
    position: fixed;
    width: Calc(100% - 100px);
    height: 50px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
}

nav {
    font-size: 0;
    transform: translateX(0);
}

nav a {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

nav a:not(:last-child)::after{
    content: '';
    border-right: 1px solid var(--text-color);
    position: relative;
    left: 18px;
}

#menuButton {
    display: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.25);
    position: sticky;
    padding: 20px;
    bottom: 0;
    z-index: 0;
    background-image: url(../images/sunrise_1.jpg);
    background-size: cover;
    background-position: bottom;
    font-size: 0;
}

#footerBlock {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#local_links {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
}

#local_links a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

#local_links a:not(:last-child)::after {
    content: '';
    border-right: 1px solid var(--text-color);
    position: relative;
    left: 18px;
}

#sns_links {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
   
}

#sns_links a img:hover {
    transform: scale(1.25, 1.25);
} 

#sns_links a img {
    width: 32px;
    transition: 0.25s;
}

#copyright {
    display: block;
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 10px;
    padding-top: 25px;
    font-size: 16px;
}

.mainContent {
    min-height: 100px;
}

@media screen and (max-width: 900px) {
    #menuButton {
        cursor: pointer;
        background: none;
        border: none;
        transition: 0.75s;
    }

    #menuButton_svg {
        pointer-events: none;
    }

    nav {
        position: fixed;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-right: 20px;
        padding-left: 20px;
        right: 0;
        top: 80px;
        height: Calc(100vh - 80px);
        background-color: rgba(0, 0, 0, 0.25);
        transform: translateX(200px);
        transition: 0.5s;
    }

    nav a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    nav a:not(:last-child)::after{
        display: none;
    }

    #menuButton {
        display: block;
    }

    .navAni {
        transform: translateX(0px);
    }
}

/* contents */

.contents_container {
    position: relative;
    z-index: 5;
    background-size: cover;
    background-position: center;
}

.contents_CenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

/* scroll icon */

@keyframes scroll_icon_ani {
    25% {transform: var(--icon-transform) translateX(0px);}
    100% {transform: var(--icon-transform) translateX(20px);}
}

.scroll_icon::before {
    --icon-transform: rotate(90deg) scaleY(1.5);
    content: '>';
    display: block;
    transform: var(--icon-transform);
    font-size: 32px;
    position: relative;
    top: 10px;
    animation:  scroll_icon_ani 1s ease-in-out infinite alternate;
}

.scroll_icon {
    position: relative;
    top: 150px;
}
